@charset "UTF-8";
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow {
  display: block;
  position: absolute;
  top: 50%;
  height: 36px;
  width: 36px;
  z-index: 1;
  color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 0;
  overflow: hidden;
  cursor: default; }
  .slick-arrow:before {
    position: absolute;
    top: -27px;
    color: #6bdbbc;
    line-height: 0.33;
    text-align: center;
    font: normal 60px Circe;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  .slick-arrow.slick-prev {
    left: 0; }
    .slick-arrow.slick-prev:before {
      content: "←";
      left: -1px; }
  .slick-arrow.slick-next {
    right: 0; }
    .slick-arrow.slick-next:before {
      content: "→";
      right: -1px; }
  .slick-arrow:hover {
    background-color: transparent; }
    .slick-arrow:hover:before {
      color: #333399; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -25px);
  -moz-transform: translate(-50%, -25px);
  -ms-transform: translate(-50%, -25px);
  -o-transform: translate(-50%, -25px);
  transform: translate(-50%, -25px); }
  .slick-dots::after {
    clear: both;
    content: "";
    display: table; }
  .slick-dots li {
    float: left;
    margin-left: 20px;
    background: transparent; }
    .slick-dots li button {
      display: block;
      height: 10px;
      width: 10px;
      border: 2px solid white;
      font-size: 0;
      color: transparent; }
      .slick-dots li button:hover {
        background-color: aquamarine;
        border-color: aquamarine; }
    .slick-dots li:first-of-type {
      margin-left: 0; }
    .slick-dots li.slick-active button {
      background-color: #333399;
      border-color: #333399; }

@media (min-width: 1600px) {
  .slick-list {
    width: 1340px;
    margin: 0 auto; } }
/*! jQuery UI - v1.12.1 - 2017-07-05
* http://jqueryui.com
* Includes: core.css, slider.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=base&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cc0000&fcError=5f3f3f&borderColorError=f1a899&bgTextureError=flat&bgColorError=fddfdf&iconColorHighlight=777620&fcHighlight=777620&borderColorHighlight=dad55e&bgTextureHighlight=flat&bgColorHighlight=fffa90&iconColorActive=ffffff&fcActive=ffffff&borderColorActive=003eff&bgTextureActive=flat&bgColorActive=007fff&iconColorHover=555555&fcHover=2b2b2b&borderColorHover=cccccc&bgTextureHover=flat&bgColorHover=ededed&iconColorDefault=777777&fcDefault=454545&borderColorDefault=c5c5c5&bgTextureDefault=flat&bgColorDefault=f6f6f6&iconColorContent=444444&fcContent=333333&borderColorContent=dddddd&bgTextureContent=flat&bgColorContent=ffffff&iconColorHeader=444444&fcHeader=333333&borderColorHeader=dddddd&bgTextureHeader=flat&bgColorHeader=e9e9e9&cornerRadius=3px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
  /* support: IE8 */ }

.ui-front {
  z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none; }

/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 21px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit; }

.ui-slider-horizontal {
  height: .8em; }

.ui-slider-horizontal .ui-slider-handle {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }
  .ui-slider-horizontal .ui-slider-handle:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -380px;
    right: 21px;
    height: 2px;
    -webkit-transition: translateY(-50%);
    -moz-transition: translateY(-50%);
    transition: translateY(-50%);
    background-color: #666699;
    z-index: -1; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em; }

.ui-widget.ui-widget-content {
  height: 1px;
  background-color: #9999cc;
  cursor: pointer; }

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333; }

.ui-widget-content a {
  color: #333333; }

.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold; }

.ui-widget-header a {
  color: #333333; }

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: #6bdbbc;
  font-weight: normal; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  color: #454545;
  text-decoration: none; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  font-weight: normal; }

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
  color: #2b2b2b;
  text-decoration: none; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: #666699; }

.ui-icon-background,
.ui-state-active .ui-icon-background {
  border: #003eff;
  background-color: #ffffff; }

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #ffffff;
  text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620; }

.ui-state-checked {
  border: 1px solid #dad55e;
  background: #fffa90; }

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #777620; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f; }

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  /* support: IE8 */
  font-weight: normal; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  /* support: IE8 */
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* support: IE8 - See #6059 */ }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 3px; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 3px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 3px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 3px; }

/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: Alpha(Opacity=30);
  /* support: IE8 */ }

.ui-widget-shadow {
  -webkit-box-shadow: 0px 0px 5px #666666;
  box-shadow: 0px 0px 5px #666666; }

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(1); }
  10% {
    -webkit-transform: scale(0.9); }
  20% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes blink {
  0% {
    -moz-transform: scale(1); }
  10% {
    -moz-transform: scale(0.9); }
  20% {
    -moz-transform: scale(1); }
  100% {
    -moz-transform: scale(1); } }
@keyframes blink {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes to_front_and_back {
  0% {
    z-index: 2; }
  49% {
    z-index: 2; }
  50% {
    z-index: 1; }
  99% {
    z-index: 1; }
  100% {
    z-index: 2; } }
@-moz-keyframes to_front_and_back {
  0% {
    z-index: 2; }
  49% {
    z-index: 2; }
  50% {
    z-index: 1; }
  99% {
    z-index: 1; }
  100% {
    z-index: 2; } }
@keyframes to_front_and_back {
  0% {
    z-index: 2; }
  49% {
    z-index: 2; }
  50% {
    z-index: 1; }
  99% {
    z-index: 1; }
  100% {
    z-index: 2; } }
@-webkit-keyframes slide_fae {
  0% {
    top: 0; }
  10% {
    top: -200%; }
  50% {
    top: -200%; }
  60% {
    top: 0; }
  100% {
    top: 0; } }
@-moz-keyframes slide_fae {
  0% {
    top: 0; }
  10% {
    top: -200%; }
  50% {
    top: -200%; }
  60% {
    top: 0; }
  100% {
    top: 0; } }
@keyframes slide_fae {
  0% {
    top: 0; }
  10% {
    top: -200%; }
  50% {
    top: -200%; }
  60% {
    top: 0; }
  100% {
    top: 0; } }
@-webkit-keyframes slide_asm_asn {
  0% {
    top: 200%; }
  10% {
    top: 0; }
  50% {
    top: 0; }
  60% {
    top: 200%; }
  100% {
    top: 200%; } }
@-moz-keyframes slide_asm_asn {
  0% {
    top: 200%; }
  10% {
    top: 0; }
  50% {
    top: 0; }
  60% {
    top: 200%; }
  100% {
    top: 200%; } }
@keyframes slide_asm_asn {
  0% {
    top: 200%; }
  10% {
    top: 0; }
  50% {
    top: 0; }
  60% {
    top: 200%; }
  100% {
    top: 200%; } }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none; }

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  color: #666699;
  font: normal normal normal 20px Circe, SansSerif;
  font-stretch: normal;
  letter-spacing: normal; }

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease, border-bottom-color 0.3s ease;
  -moz-transition: color 0.3s ease, border-bottom-color 0.3s ease;
  transition: color 0.3s ease, border-bottom-color 0.3s ease; }
  a.underlined {
    border-bottom: 1px solid transparent; }
    a.underlined:hover {
      color: aquamarine;
      border-bottom-color: rgba(107, 219, 188, 0.4); }
    a.underlined:active {
      border-bottom-color: transparent; }
  a.blue {
    color: #333399;
    border-bottom-color: rgba(51, 51, 153, 0.4); }
  a.white {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.4); }

button {
  height: 50px;
  background: #6bdbbc;
  color: #333399;
  border: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(51, 51, 153, 0.15);
  -moz-box-shadow: 0 10px 30px 0 rgba(51, 51, 153, 0.15);
  box-shadow: 0 10px 30px 0 rgba(51, 51, 153, 0.15);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  line-height: 1.0;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  -moz-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease; }
  button:hover {
    background: #333399;
    color: #6bdbbc; }
  button.bordered {
    border: 2px solid #6bdbbc; }

ul {
  list-style: none; }

.base {
  width: 920px;
  margin: 0 auto; }
  .base::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 1366px) and (max-width: 1599px) {
    .base {
      width: 1160px; } }
  @media (min-width: 1600px) {
    .base {
      width: 1520px; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .header__inner {
    height: 100px;
    padding-top: 40px; }
    .header__inner svg {
      float: left;
      height: 30px; }
      .header__inner svg path {
        fill: #333399;
        -webkit-transition: fill 0.3s ease;
        -moz-transition: fill 0.3s ease;
        transition: fill 0.3s ease; }
      .header__inner svg.white path {
        fill: white; }
    .header__inner nav {
      float: right; }
      .header__inner nav a {
        display: inline-block;
        font-size: 20px;
        line-height: 1.0;
        margin-left: 100px; }
        .header__inner nav a:first-of-type {
          margin-left: 0; }
    @media (min-width: 1366px) and (max-width: 1599px) {
      .header__inner nav a {
        margin-left: 160px; } }
    @media (min-width: 1600px) {
      .header__inner nav a {
        margin-left: 250px; } }

.footer {
  position: fixed;
  bottom: -147px;
  left: 0;
  width: 100%;
  height: 147px;
  z-index: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.4); }
  .footer__inner {
    position: relative;
    height: 100%; }
  .footer__copyright, .footer__powered, .footer__menu, .footer__payment {
    position: absolute; }
  .footer__copyright, .footer__powered, .footer__menu {
    left: 240px; }
  .footer__copyright, .footer__powered {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.4px; }
  .footer__menu {
    top: 27px; }
    .footer__menu::after {
      clear: both;
      content: "";
      display: table; }
    .footer__menu li {
      float: left;
      margin-right: 20px;
      line-height: 1.25; }
      .footer__menu li a {
        font-size: 16px;
        line-height: 1.25;
        border-bottom: solid 1.5px rgba(255, 255, 255, 0.4); }
      .footer__menu li:last-of-type {
        margin-right: 0; }
  .footer__copyright {
    bottom: 49px; }
  .footer__powered {
    bottom: 27px;
    line-height: 1.25; }
    .footer__powered a {
      margin-left: 3px;
      text-transform: lowercase;
      font-size: 16px;
      border-bottom: solid 1.5px rgba(255, 255, 255, 0.4);
      opacity: 1;
      filter: alpha(opacity=100); }
  .footer__payment {
    bottom: 35px;
    right: 0; }
    .footer__payment span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px; }
      .footer__payment span img {
        display: block; }
      .footer__payment span:first-of-type {
        margin-left: 0; }
  .footer.visible {
    bottom: 0;
    -webkit-transition: bottom 0.31s ease;
    -moz-transition: bottom 0.31s ease;
    transition: bottom 0.31s ease; }
  @media (min-width: 1366px) and (max-width: 1599px) {
    .footer {
      bottom: -116px;
      height: 116px; }
      .footer__inner {
        padding-top: 43px; }
      .footer__copyright, .footer__powered, .footer__menu, .footer__payment {
        position: static;
        display: inline-block;
        vertical-align: middle; }
      .footer__menu {
        margin: 0 120px 0 65px; }
      .footer__powered {
        margin-left: 40px; }
      .footer.visible {
        -webkit-transition: bottom 0.285s ease;
        -moz-transition: bottom 0.285s ease;
        transition: bottom 0.285s ease; } }
  @media (min-height: 1080px) {
    .footer {
      bottom: -138px;
      height: 138px; }
      .footer__inner {
        padding-top: 62px; }
      .footer__copyright, .footer__powered, .footer__menu, .footer__payment {
        position: static;
        display: inline-block;
        vertical-align: middle; }
      .footer__menu {
        margin: 0 390px 0 155px; }
      .footer__powered {
        margin-left: 40px; }
      .footer.visible {
        -webkit-transition: bottom 0.3s ease;
        -moz-transition: bottom 0.3s ease;
        transition: bottom 0.3s ease; } }

.slides {
  height: 100%;
  width: 100%; }

.slide {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.first-slide__inner, .last-slide__inner {
  position: relative; }
  .first-slide__inner:before, .last-slide__inner:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 140px;
    right: 0;
    width: 440px;
    height: 528px;
    background-image: url("/assets/interface/slides/3-d-91dcf0c51ce91aedf3d690d573af1127.gif");
    background-repeat: no-repeat;
    background-position: left top; }
    @media (min-width: 1366px) and (max-width: 1599px) {
      .first-slide__inner:before, .last-slide__inner:before {
        width: 564px;
        height: 688px; } }
    @media (min-height: 1080px) {
      .first-slide__inner:before, .last-slide__inner:before {
        width: 740px;
        height: 887px; } }

.first-slide {
  color: white;
  background-color: #333399;
  z-index: 1; }
  .first-slide__inner {
    height: 100%; }
    .first-slide__inner:before {
      background-size: cover; }
  .first-slide h1, .first-slide__get-started, .first-slide__more, .first-slide__page-title {
    position: absolute;
    line-height: 1.0; }
  .first-slide h1, .first-slide__get-started, .first-slide__page-title {
    left: 240px; }
  .first-slide__get-started, .first-slide__more {
    bottom: 50px; }
  .first-slide h1 {
    width: 535px;
    top: 50%;
    margin: -143px 0 0;
    font-size: 114px;
    font-weight: 800;
    line-height: 0.7;
    letter-spacing: -1px; }
    .first-slide h1 span {
      display: block;
      margin-top: 60px;
      font-size: 36px;
      font-weight: normal;
      line-height: 1.11; }
  .first-slide__get-started ul {
    margin-top: 20px; }
    .first-slide__get-started ul::after {
      clear: both;
      content: "";
      display: table; }
    .first-slide__get-started ul li {
      position: relative;
      float: left;
      padding: 0 40px; }
      .first-slide__get-started ul li:after {
        content: "/";
        display: block;
        position: absolute;
        top: 0;
        right: 0; }
      .first-slide__get-started ul li a {
        display: inline-block;
        border-bottom: solid 1.5px rgba(255, 255, 255, 0.4); }
      .first-slide__get-started ul li:first-of-type {
        padding-left: 0; }
      .first-slide__get-started ul li:last-of-type {
        padding-right: 0; }
        .first-slide__get-started ul li:last-of-type:after {
          display: none; }
  .first-slide__page-title {
    width: 100px;
    top: 40px; }
  .first-slide__more {
    left: 0; }
    .first-slide__more a {
      border-bottom-color: transparent; }
  @media (min-width: 1366px) and (max-width: 1599px) {
    .first-slide__inner:before {
      top: 60px; }
    .first-slide h1, .first-slide__get-started, .first-slide__page-title {
      left: 300px; } }
  @media (min-width: 1600px) {
    .first-slide h1, .first-slide__get-started, .first-slide__page-title {
      left: 390px; } }
  @media (min-height: 1080px) {
    .first-slide__inner:before {
      top: 100px;
      right: -5px; }
    .first-slide h1 {
      width: 740px;
      font-size: 144px;
      margin-top: -200px; }
      .first-slide h1 span {
        margin-top: 80px;
        font-size: 48px;
        line-height: 0.83;
        letter-spacing: -1.3px; }
    .first-slide__get-started, .first-slide__more {
      bottom: 40px; } }

.features-slide {
  background-color: white; }
  .features-slide__inner {
    position: relative;
    height: 100%; }
  .features-slide__info, .features-slide__screenshots {
    position: absolute;
    top: 50%;
    height: 330px;
    margin-top: -165px;
    width: 440px; }
    .features-slide__info__item, .features-slide__screenshots__item {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  .features-slide__info {
    left: 0; }
    .features-slide__info strong {
      color: #333399;
      font-size: 80px;
      font-weight: 800;
      line-height: 0.75;
      letter-spacing: -1px; }
    .features-slide__info p {
      margin: 30px 0 40px;
      font-size: 30px;
      line-height: 1.33; }
    .features-slide__info button {
      width: 160px; }
    .features-slide__info__item {
      padding-top: 7px; }
      .features-slide__info__item[data-item="fae"] {
        top: 0; }
      .features-slide__info__item[data-item="asm_asn"] {
        top: 200%; }
    .features-slide__info.animate .features-slide__info__item[data-item="fae"] {
      -webkit-animation: slide_fae 10s ease 5s infinite;
      -moz-animation: slide_fae 10s ease 5s infinite;
      animation: slide_fae 10s ease 5s infinite; }
    .features-slide__info.animate .features-slide__info__item[data-item="asm_asn"] {
      -webkit-animation: slide_asm_asn 10s ease 5s infinite;
      -moz-animation: slide_asm_asn 10s ease 5s infinite;
      animation: slide_asm_asn 10s ease 5s infinite; }
  .features-slide__screenshots {
    right: 0;
    background-size: cover;
    -webkit-box-shadow: 0 40px 80px 10px rgba(51, 51, 153, 0.1);
    -moz-box-shadow: 0 40px 80px 10px rgba(51, 51, 153, 0.1);
    box-shadow: 0 40px 80px 10px rgba(51, 51, 153, 0.1); }
    .features-slide__screenshots__item {
      background: url("/assets/pictures/features/fast-and-easy-969d5fadb8f00a55712390266f1d48c8.png") no-repeat right top;
      background-size: cover; }
      .features-slide__screenshots__item[data-item="fae"] {
        background: url("/assets/pictures/features/fast-and-easy-969d5fadb8f00a55712390266f1d48c8.png") no-repeat right top;
        background-size: cover;
        z-index: 2; }
      .features-slide__screenshots__item[data-item="asm_asn"] {
        background: url("/assets/pictures/features/asm_asn-2c3067aad38f1494fa5ab2b22f11264d.png") no-repeat right top;
        background-size: cover;
        z-index: 1; }
    .features-slide__screenshots.animate {
      -webkit-animation: blink 5s ease 5s infinite;
      -moz-animation: blink 5s ease 5s infinite;
      animation: blink 5s ease 5s infinite; }
      .features-slide__screenshots.animate .features-slide__screenshots__item[data-item="asm_asn"] {
        -webkit-animation: to_front_and_back 10s ease 5.6s infinite;
        -moz-animation: to_front_and_back 10s ease 5.6s infinite;
        animation: to_front_and_back 10s ease 5.6s infinite; }
  @media (min-width: 1366px) and (max-width: 1599px) {
    .features-slide__info, .features-slide__screenshots {
      width: 560px;
      height: 420px;
      margin-top: -210px; }
    .features-slide__info__item {
      padding-top: 57px; } }
  @media (min-width: 1600px) {
    .features-slide__info, .features-slide__screenshots {
      width: 740px;
      height: 555px;
      margin-top: -277.5px; }
    .features-slide__info__item {
      padding-top: 77px; }
      .features-slide__info__item strong {
        font-size: 100px;
        line-height: 0.8; }
      .features-slide__info__item p {
        margin: 40px 0 60px; }
      .features-slide__info__item button {
        width: 220px;
        height: 60px; }
    .features-slide__screenshots__item[data-item="fae"] {
      background: url("/assets/pictures/features/fast-and-easy@2x-e1339520e8b6d0776df6d08dd782661c.png") no-repeat right top;
      background-size: cover; }
    .features-slide__screenshots__item[data-item="asm_asn"] {
      background: url("/assets/pictures/features/asm_asn@2x-e2998c307c5805b669dfd3c8132495e9.png") no-repeat right top;
      background-size: cover; } }

.configuration-slide {
  background-color: rgba(51, 51, 153, 0.05); }
  .configuration-slide__inner {
    position: relative;
    height: 100%; }
  .configuration-slide__calculator, .configuration-slide__info {
    position: absolute;
    top: 50%;
    height: 420px;
    margin-top: -210px; }
  .configuration-slide__calculator {
    left: 80px;
    width: 280px;
    padding: 25px 20px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 60px 0 rgba(51, 51, 153, 0.1), 0 30px 40px 0 rgba(51, 51, 153, 0.1);
    -moz-box-shadow: 0 20px 60px 0 rgba(51, 51, 153, 0.1), 0 30px 40px 0 rgba(51, 51, 153, 0.1);
    box-shadow: 0 20px 60px 0 rgba(51, 51, 153, 0.1), 0 30px 40px 0 rgba(51, 51, 153, 0.1);
    line-height: 1.5; }
    .configuration-slide__calculator strong {
      display: block;
      font-size: 36px;
      font-weight: 800;
      line-height: 0.83;
      color: #333399; }
    .configuration-slide__calculator__commits, .configuration-slide__calculator__build-duration {
      position: relative;
      margin-bottom: 35px;
      padding: 0 20px 11px 0;
      overflow: hidden; }
      .configuration-slide__calculator__commits strong, .configuration-slide__calculator__build-duration strong {
        margin: 15px 0 25px; }
      .configuration-slide__calculator__commits:after, .configuration-slide__calculator__build-duration:after {
        content: '∞';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 20px;
        font-size: 20px;
        line-height: 1.0;
        color: #9999cc; }
    .configuration-slide__calculator__cost-per {
      margin-bottom: 20px; }
      .configuration-slide__calculator__cost-per span {
        display: inline-block;
        vertical-align: baseline;
        color: #333399;
        border-bottom: dashed 1px #333399;
        line-height: 1.0;
        font-weight: 800;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .configuration-slide__calculator__cost-per span:hover {
          color: #6bdbbc;
          border-bottom-color: rgba(107, 219, 188, 0.4); }
        .configuration-slide__calculator__cost-per span.active {
          color: #6bdbbc;
          border-bottom-color: transparent;
          cursor: default; }
  .configuration-slide__info {
    right: 0;
    width: 440px;
    padding-top: 30px; }
    .configuration-slide__info strong {
      color: #333399;
      font-size: 80px;
      font-weight: 800;
      line-height: 0.75;
      letter-spacing: -1px; }
    .configuration-slide__info p {
      margin: 40px 0;
      font-size: 30px;
      line-height: 1.33; }
    .configuration-slide__info button {
      width: 200px;
      -webkit-box-shadow: 0 10px 30px 0 rgba(51, 51, 153, 0.15);
      -moz-box-shadow: 0 10px 30px 0 rgba(51, 51, 153, 0.15);
      box-shadow: 0 10px 30px 0 rgba(51, 51, 153, 0.15); }
  @media (min-width: 1366px) and (max-width: 1599px) {
    .configuration-slide__calculator, .configuration-slide__info {
      position: absolute;
      top: 50%;
      height: 460px;
      margin-top: -230px; }
    .configuration-slide__calculator {
      left: 100px;
      width: 360px;
      padding: 45px 40px 55px; }
    .configuration-slide__info {
      width: 560px;
      padding-top: 50px; }
      .configuration-slide__info button {
        width: 260px; } }
  @media (min-width: 1600px) {
    .configuration-slide__calculator, .configuration-slide__info {
      position: absolute;
      top: 50%;
      height: 520px;
      margin-top: -260px; }
    .configuration-slide__calculator {
      left: 150px;
      width: 480px;
      padding: 60px 40px; }
    .configuration-slide__info {
      width: 740px;
      padding-top: 50px; }
      .configuration-slide__info strong {
        font-size: 100px;
        line-height: 0.8; }
      .configuration-slide__info p {
        margin-bottom: 60px; }
      .configuration-slide__info button {
        height: 60px;
        width: 350px; } }

.customers-slide {
  z-index: 0; }
  .customers-slide__inner {
    height: calc(100vh - 110px);
    padding-top: 120px; }
    .customers-slide__inner-wrap {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .customers-slide__inner-wrap > strong {
        display: block;
        font-size: 30px;
        line-height: 1.33;
        text-align: center;
        font-weight: normal; }
  .customers-slide__reviews__item {
    width: 920px;
    height: 440px;
    padding-top: 70px; }
    .customers-slide__reviews__item__inner {
      position: relative;
      height: 300px;
      width: 600px;
      margin: 0 auto;
      padding: 60px 40px 40px;
      background-color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      box-shadow: 0 40px 60px 0 rgba(51, 51, 153, 0.1), 0 30px 40px 0 rgba(51, 51, 153, 0.1);
      text-align: center; }
      .customers-slide__reviews__item__inner:before {
        content: '';
        display: block;
        position: absolute;
        height: 80px;
        width: 80px;
        top: -40px;
        left: 50%;
        margin-left: -40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover; }
      .customers-slide__reviews__item__inner > div {
        color: #333399;
        font-size: 16px;
        line-height: 1.25; }
        .customers-slide__reviews__item__inner > div span {
          display: block;
          margin-bottom: 10px;
          font-size: 30px;
          font-weight: 800;
          line-height: 1.0; }
      .customers-slide__reviews__item__inner p {
        margin-top: 20px;
        line-height: 1.5; }
    .customers-slide__reviews__item[data-review="bookmate"] .customers-slide__reviews__item__inner:before {
      background-image: url("/assets/pictures/reviews/bm_avatar-beb39761850106a552933ff1e86aab74.jpg"); }
    .customers-slide__reviews__item[data-review="uptopromo"] .customers-slide__reviews__item__inner:before {
      background-image: url("/assets/pictures/reviews/up_avatar-0a7944ad7e9d67caf8f7e0b888449662.jpg"); }
    .customers-slide__reviews__item[data-review="scalex"] .customers-slide__reviews__item__inner:before {
      background-image: url("/assets/pictures/reviews/sx_avatar-ab348d35c08e0bc484f5fbe7b0a8bd5d.jpg"); }
    .customers-slide__reviews__item[data-review="railsmob"] .customers-slide__reviews__item__inner:before {
      background-image: url("/assets/pictures/reviews/rb_avatar-00d3845f165c2356153e9d49664de026.jpg"); }
  .customers-slide__logos {
    height: 110px;
    padding: 43.5px 0;
    background-color: rgba(51, 51, 153, 0.05); }
    .customers-slide__logos a {
      float: left;
      height: 23px;
      width: 120px;
      margin-left: 40px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      opacity: 0.5;
      filter: alpha(opacity=50);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .customers-slide__logos a:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
      .customers-slide__logos a[data-image="bookmate"] {
        margin-left: 0;
        background-image: url("/assets/interface/slides/customers/logos/bookmate-e2ec760e8956d8474f777f9b5f50b134.png"); }
      .customers-slide__logos a[data-image="meduza"] {
        background-image: url("/assets/interface/slides/customers/logos/meduza-5e957aef0486dfa145d2409b2753827e.png"); }
      .customers-slide__logos a[data-image="insales"] {
        background-image: url("/assets/interface/slides/customers/logos/insales-9e7a3066e6a497d8d4b3c072390f5744.png"); }
      .customers-slide__logos a[data-image="uptopromo"] {
        background-image: url("/assets/interface/slides/customers/logos/uptopromo-e046c2bbd5f9f76bc3905317ff3ef25c.png"); }
      .customers-slide__logos a[data-image="brandymint"] {
        background-image: url("/assets/interface/slides/customers/logos/brandymint-6c9cc8133d38f9de55a903822f32bea9.png"); }
      .customers-slide__logos a[data-image="castle"] {
        background-image: url("/assets/interface/slides/customers/logos/castle-089b94ebb1fb3e119ccf07bcf88d382b.png"); }
  @media (min-width: 1366px) and (max-width: 1599px) {
    .customers-slide__reviews__item {
      width: 1160px; }
    .customers-slide__logos {
      padding: 40px 0; }
      .customers-slide__logos a {
        height: 30px;
        width: 160px; } }
  @media (min-width: 1600px) {
    .customers-slide__reviews__item {
      width: 670px; } }
  @media (min-height: 1080px) {
    .customers-slide__inner {
      height: calc(100vh - 160px);
      padding-top: 200px; }
    .customers-slide__reviews__item {
      height: 500px;
      padding-top: 130px; }
    .customers-slide__logos {
      height: 160px;
      padding: 58px 0; }
      .customers-slide__logos a {
        height: 44px;
        width: 220px; } }

.last-slide {
  color: white;
  background-color: #333399;
  z-index: 0; }
  .last-slide__inner {
    height: calc(100vh - 147px); }
    .last-slide__inner:before {
      left: 230px;
      top: 0;
      background-size: contain;
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      transition: all 0.6s ease; }
  .last-slide h2, .last-slide__sign-up {
    position: absolute;
    left: 240px; }
  .last-slide h2 {
    width: 397px;
    top: 50%;
    margin: -180px 0 0;
    font-size: 80px;
    font-weight: 800;
    line-height: 0.75;
    letter-spacing: -0.9px; }
    .last-slide h2 span {
      display: block;
      margin-top: 30px;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: -0.8px; }
  .last-slide__sign-up {
    bottom: 90px; }
    .last-slide__sign-up::after {
      clear: both;
      content: "";
      display: table; }
    .last-slide__sign-up button {
      float: left;
      width: 120px;
      margin-right: 40px;
      font-size: 19px; }
  .last-slide.turned-gif .last-slide__inner:before {
    top: -266px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  @media (min-width: 1366px) and (max-width: 1599px) {
    .last-slide__inner {
      height: calc(100vh - 116px); }
      .last-slide__inner:before {
        top: -70px;
        left: 280px; }
    .last-slide h2, .last-slide__sign-up {
      left: 300px; }
    .last-slide h2 {
      margin-top: -155px; }
    .last-slide__sign-up {
      bottom: 80px; }
      .last-slide__sign-up button {
        width: 160px; }
    .last-slide.turned-gif .last-slide__inner:before {
      top: -337px; } }
  @media (min-width: 1600px) {
    .last-slide h2, .last-slide__sign-up {
      left: 390px; } }
  @media (min-height: 1080px) {
    .last-slide__inner {
      height: calc(100vh - 138px); }
      .last-slide__inner:before {
        top: -150px;
        left: 360px; }
    .last-slide h2 {
      width: 640px;
      margin-top: -185px;
      font-size: 100px;
      line-height: 0.8;
      letter-spacing: -1.2px; }
      .last-slide h2 span {
        margin-top: 40px;
        font-size: 48px;
        line-height: 0.83;
        letter-spacing: -1.3px; }
    .last-slide__sign-up {
      bottom: 130px; }
      .last-slide__sign-up button {
        width: 220px;
        height: 60px; }
    .last-slide.turned-gif .last-slide__inner:before {
      top: -420px; } }
